#main-button:hover{
        #second-button{
            left:18px;
            transform: rotate(0deg);
        }
    }

    #main-button1:hover{
        #second-button1{
            left:29px;
            transform: rotate(0deg);
        }
    }
